/*
Theme Name: Chipsofic
Theme URI: https://psdtowpservice.com/templates/chipsofic/
Bitbucket Theme URI: https://bitbucket.org/devshuvo/chipsofic
Author: BootPeople
Author URI: https://a-web-org
Description: Chipsofic is a One Page Template for Chips, Fries, Restaurant and Food Product Seller
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: chipsofic
*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.chipsofic-sidebar .widget{
    margin: 50px 0 0;
}

.widget select {
    max-width: 100%;
}
.widget ul,
.widget li{
    list-style:none;
    padding:0;
    margin:0;
}

/*--------------------------------------------------------------
# Input
--------------------------------------------------------------*/
input.search-field {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 10px 20px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
## Nagivation
--------------------------------------------------------------*/
nav.navigation {
    clear: both;
    position: relative;
    padding: 15px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

#comments {
    clear: both;
    padding: 2em 0 0.5em;
}

.comments-title {
    font-size: 20px;
    margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list li:before {
    display: none;
}

.comment-body {
    margin-left: 65px;
}

.comment-author {
    font-size: 16px;
    margin-bottom: 0.4em;
    position: relative;
    z-index: 2;
}

.comment-author .avatar {
    height: 50px;
    left: -65px;
    position: absolute;
    width: 50px;
}

.comment-author .says {
    display: none;
}

.comment-meta {
    margin-bottom: 1.5em;
}

.comment-metadata {
    color: #767676;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.1818em;
    text-transform: uppercase;
}

.comment-metadata a {
    color: #767676;
}

.comment-metadata a.comment-edit-link {
    color: #222;
    margin-left: 1em;
}

.comment-body {
    color: #333;
    font-size: 14px;
    margin-bottom: 4em;
}

.comment-reply-link {
    font-weight: 800;
    position: relative;
}

.comment-reply-link .icon {
    color: #222;
    left: -2em;
    height: 1em;
    position: absolute;
    top: 0;
    width: 1em;
}

.children .comment-author .avatar {
    height: 30px;
    left: -45px;
    width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
    border: 1px solid #333;
    padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
    color: #767676;
    font-size: 14px;
    font-style: italic;
}

.comments-pagination {
    margin: 2em 0 3em;
}

.form-submit {
    text-align: right;
}

.comment-form #wp-comment-cookies-consent {
    margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
    display: inline;
}